.git
.github
.idea
.cursor
.junie
.agent
.ai
.gemini
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*.local
*.md
docker-compose*.yml
_ide_helper*.php
.phpstorm.meta.php
.DS_Store
tests
